[submodule "bridge/evm/lib/openzeppelin-foundry-upgrades"]
	path = bridge/evm/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "bridge/evm/lib/forge-std"]
	path = bridge/evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1.3.0
[submodule "bridge/evm/lib/openzeppelin-contracts-upgradeable"]
	path = bridge/evm/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
	branch = v5.0.1